
@font-face {
	font-family: 'Sukhumvit';
	src:url(font/SukhumvitSet.ttc);
}
h1, h2, h3, h4, p{
	font-family: 'Sukhumvit', sans-serif;
}
body{
	margin: 0%;
	transition: all .8s ease;
}

#page_1{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
    position: fixed;
	transition: all .8s ease;
	z-index: 5;

}

#page_2{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
	color: #fff;
    position: fixed;
	transition: all .8s ease;
	z-index: 3;
	text-align: center;
}

#page_3{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
	color: #fff;
    position: fixed;
	transition: all .8s ease;
	z-index: 2;
	text-align: center;
}
#page_4{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
	color: #fff;
    position: fixed;
	transition: all .8s ease;
	z-index: 1;
	text-align: center;
}
#skip{
	position: fixed;
	top: 95%;
  	left: 97%;
	z-index: 4;
}
.position_cam{
	text-align: left;
	margin-left: 2%;
	width: 100vw;
	height: 100vh;
	top: 10%;
}
model-viewer {
	top: -15%;
	width: 60vw;
	height: 100vh;
}
#renderCanvas {
	width: 60%;
	height: 80%;
	touch-action: none;
	z-index: 100;
}
#skip img {
	width: 2em;
}
#page_2 .text_1 ,#page_3 .text_1 ,#page_4 .text_1{
	font-size: 1.5em;
	font-weight: normal;
	color: #fff;
	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#preloader{
	
	background: #000;
	width: 100%;
    height: 100vh;
	position: fixed;
	z-index: 100;
	transition:opacity 0.75s, visibility 0.75s;
}
.preloader-hidden{
	animation: loading 1s both;
}
.preloader-show{
	animation: shows 1s both;
}

@keyframes loading{
	100%{
	opacity: 0;
	visibility: hidden;
	}
}
@keyframes shows{
	100%{
	opacity: 1;
	visibility: visible;
}
}
.lds-facebook {
	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #fff;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
  }
  @keyframes lds-facebook {
	0% {
	  top: 8px;
	  height: 64px;
	}
	50%, 100% {
	  top: 24px;
	  height: 32px;
	}
  }
/*logo*/
.logo_home{
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: normal;
	color: white;
	text-align: center;
  	position: absolute;
  	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.logo_home p {
	line-height: 1;
}
.text_1{
	font-size: 1.5em;
	font-weight: bold;
	color: black;
	text-align: center;
  	position: absolute;
  	top: 95%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.text_1 img{
	width: 15px;
}

.door_home{
	position: absolute;
  	top: 75%;
  	left: 54%;
  	transform: translate(-50%, -50%);
	width: 15%;
	height: 15%;
	cursor: pointer;
	
}
  .hover-link > span {
	pointer-events: none;
  }
  
  #cursor {
	pointer-events: none;
	width: 2rem;
	height: 2rem;
	border: solid 1px rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.35s ease width, 0.35s ease height, 0.35s ease border,
	  0.35s ease background;
	transform: translate(-50%, -50%);
	z-index: 101;

  }
  
  #cursor.button {
	width: 3.5rem;
	height: 3.5rem;
	border: solid 1px transparent;
	background: rgba(255, 255, 255, 0.5);
  }
  button{
	background: transparent;
	border: none;
	cursor: pointer;
  }

  .container {
	display: grid;
	grid-template-columns: 60% 50%;
	grid-template-rows: 10% 90%;
  }
  .container .item1 {
	grid-column-start: 1;
  	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
  }
  .container .item2 {
	grid-column-start: 2;
  	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
  }
  .container .home{
	text-align: left;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.container .home img{
	margin: 15px;
	width: 40px;
}
.item1 {
	z-index:99;
	transition: 0.5s  ease;
}
.item2 {
	z-index:100;
	transition: 0.5s  ease;
}
.item2 img{
	margin-top: 5%;
	width: 25vw;
	height: 75vh;
	transition: 0.5s  ease;
}

.all_tabs{
	display: flex;
	transform: translateX(60%);
}
.tab_item{
	background: rgb(0, 0, 0);
	border: 1px rgb(99, 99, 99) solid;
	padding: .5em;
	margin-right: 1.5em;
	cursor: pointer;
}
.tab_item[active]{
	background: rgb(255, 255, 255);
	border: 1px rgb(99, 99, 99) solid;
}
.content{
	background: orange;
	padding: 2em;
}
.img1{
	position: absolute;
	transform: translate3d(55em,12em,0em);
	width: 50%;
	height: 100%;
	z-index: 102;
	cursor: url(/image/back\ or\ quit.png)32 32,auto;
	opacity: 0;
	visibility: hidden;
}
.intext1{
	position: absolute;
	transform: translate3d(30em,20em,0em);
	font-size: 20px;
	width: 90%;
	height: 90%;
	z-index: 100;
	cursor: url(/image/back\ or\ quit.png)32 32,auto;
	opacity: 0;
	visibility: hidden;
}

.theBlock{
	width: 4em;
	height: 4em;
	background-color: antiquewhite;
	transform: translate(100%, 10%);
}
/*chair*/
.ex1 {
  perspective: 1000px;
  transform:scale3d(0.8,0.8,0.8) ;
}

.cube {
  font-size: 4em;
  width: 2em;
  margin: 1.5em auto;
  transform-style: preserve-3d;
  transform: rotateX(343deg) rotateY(63deg);
}

.side {
  position: absolute;
  width: 4em;
  height: 1.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.side1 {
  position: absolute;
  width: 4em;
  height: 1.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.side2 {
  position: absolute;
  width: 2em;
  height: 1.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.side3 {
  position: absolute;
  width: 2em;
  height: 1.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.side4 {
  position: absolute;
  width: 4em;
  height: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.side5 {
  position: absolute;
  width: 4em;
  height: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.tside {
  position: absolute;
  width: 4em;
  height: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.tside1 {
  position: absolute;
  width: 4em;
  height: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.tside2 {
  position: absolute;
  width: 0.5em;
  height: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.tside3 {
  position: absolute;
  width: 0.5em;
  height: 2em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.tside4 {
  position: absolute;
  width: 4em;
  height: 0.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.tside5 {
  position: absolute;
  width: 4em;
	height: 0.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}
.human_side{
  position: absolute;
  width: 2.5em;
  height: 4.5em;
  background: rgba(100,100,100,0.5);
  border: 1px solid red;
  text-align: center;
  line-height: 2em;
}

.human {transform: rotateY(-90deg) translateY(-2.8em) translateX(0.6em);}
.front {transform: translateZ(1em);}
.top {transform: rotateX(90deg) translateZ(1em);}
.right {transform: rotateY(90deg) translateZ(3em);}
.left {transform: rotateY(-90deg) translateZ(1em);}
.bottom {transform: rotateX(-90deg) translateZ(0.5em);}
.back {transform: rotateY(-180deg) translateZ(1em);}
.front1 {transform: translateZ(-1em) translateY(-2em);}
.top1 {transform: rotateX(90deg) translateZ(2.29em) translateY(-1.1em) translateX(-0.23em);}
.right1 {transform: rotateY(90deg) translateZ(3.752em) translateY(-2em) translateX(1.23em);}
.left1 {transform: rotateY(-90deg) translateZ(0.2em) translateY(-2em) translateX(-1.3em);}
.bottom1 {transform:rotateX(-90deg) translateZ(-0.25em) translateX(0em) translateY(1.25em);}
.back1 {transform: rotateY(-180deg) translateZ(1.5em) translateY(-2em);}
