<!DOCTYPE html>
<html>
<head>
	<title>SODA</title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="image/1x/logo.png" type="image/icon type">
	<link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="styles_satorn.css">
	<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
	<script src="https://cdn.babylonjs.com/babylon.js"></script>
</head>

<body>
	<div id="preloader"><div class="lds-facebook"><div></div><div></div><div></div></div></div>
<div id="page_2">
	<div class="container" id="app">
		<div class="home">
			<img src="image/1x/logo.png" alt="logo">
		</div>
		<div class="item1" id="view">	
			<div class="ex1">
                <div class="cube" v-bind:style="{ transform: move1 }">
					<div onclick="pic1(1)" class="cur_pic pic left_pic"><img src="/image/buildtext3/02.png" alt="build" width="100%" height="100%"></div>
                    <div onclick="pic1(2)" class="cur_pic pic2 left_pic2"><img src="/image/buildtext3/01.png" alt="build" width="100%" height="100%"></div>
                    <div onclick="pic1(3)" class="cur_pic pic3 left_pic3"><img src="/image/buildtext3/03.png" alt="build" width="100%" height="100%"></div>
                    <div onclick="pic1(4)" class="cur_pic pic4 left_pic4"><img src="/image/buildtext3/04.png" alt="build" width="100%" height="100%"></div>
                    <div onclick="hum2()" class="human_side human"><img src="/image/human/1x/1.png" alt="human" width="100%" height="100%"></div>
                    <div class="floor bottom_floor"><img src="/image/texture.jpg" alt="build" width="100%" height="100%"></div>
                    <div class="floor1 bottom_floor2"><img src="/image/texture.jpg" alt="build" width="100%" height="100%"></div>
                    <div class="longfloor bottom_floor3"><img src="/image/texture.jpg" alt="build" width="100%" height="100%"></div>
                    <div class="sky locceiling1"><img src="/image/sky.jpg" alt="build" width="100%" height="100%"></div>
                    <div class="sky2 locceiling2"></div>
                    <div class="ceiling locceiling3"><img src="/image/sky.jpg" alt="build" width="100%" height="100%"></div>
					<svg class="door"> viewBox="0 0 100 100">
						<path stroke="#aaaaaa" stroke-width="3" fill="none" d="M30 90 H30 V50 Q30 20, 50 20 Q70 20, 70 50 V70 90">
						</path>
						<path onclick="back()"class="door_in"stroke="#606060" stroke-width="1" fill="#606060"
							d="M31.5 90 H31.5 V50 Q31.5 21.5, 50 21.5 Q68.5 21.5, 68.5 50 V68.5 90 68.5 89.5 H31 68.5 ">
						</path>
					</svg>
                </div>
              </div>
		</div>
		<div class="img1">
			<button class="close_but" onclick="close_img(1)" type="button"><img src="/image/quit.png" alt="dd"></button>
			<img src="/image/buildtext3/02.png" alt="build" width="100%" height="100%">
			<p>สาธร ยูนีค ทาวเวอร์</p>
		</div>
		<div class="img2">
			<button class="close_but" onclick="close_img(2)" type="button"><img src="/image/quit.png" alt="dd"></button>
			<img src="/image/buildtext3/01.png" alt="build" width="100%" height="100%">
			<p>บรรยากาศภายนอกสาธร ยูนีค ทาวเวอร์</p>
		</div>
		<div class="img3">
			<button class="close_but" onclick="close_img(3)" type="button"><img src="/image/quit.png" alt="dd"></button>
			<img src="/image/buildtext3/03.png" alt="build" width="100%" height="100%">
			<p>ภาพถ่ายวิวทิวทัศน์จากตึก สาธร ยูนีค ทาวเวอร์</p>
		</div>
		<div class="img4">
			<button class="close_but" onclick="close_img(4)" type="button"><img src="/image/quit.png" alt="dd"></button>
			<img src="/image/buildtext3/04.png" alt="build" width="100%" height="100%">
			<p>บรรยากาศภายในสาธร ยูนีค ทาวเวอร์ </p>
		</div>
		
		<div onclick="change_text1()" class="intext1"> Youรู้มั้ย?! สมัยก่อนที่นี้มีคนมา dance กันให้พรึ่บ <br>จัดงานเต้นรำได้ FABULOUS สุดๆ ไปเลย!</div>
		<div onclick="change_text2()" class="intext2"> ถึงจะเป็นที่เก่าแก่ แต่กลับออกแบบได้ so ทันสมัยสุดๆ <br>ตอน I เข้าไปนึกว่าได้กลับบ้านแน่ะ!</div>
		<div onclick="change_text3()" class="intext3"> แต่ถ้า you คิดว่าสถาปัตยกรรมมีไว้เพื่อความสวยงาม <br>ที่นี่จะหักล้างความเชื่อนั้นได้เลย</div>
		<div onclick="change_text4()" class="intext4"> ไม่ใช่เพียงเพื่อความบันเทิง <br>แต่ประโยชน์ในฐานะสถานราชการก็ถูกใช้อย่างคุ้มค่า แบบนั้นฟังดูดีไหม?</div>
		<div onclick="close_text()" class="intext5"> OH! My Lord!! ใครจะไปคิดว่ามันว่าในอนาคตคนจะมารีโนเวทมัน <br>แบบนี้ก็เจ๋งจ๊าบเลยน่ะซี!</div>
		<div class="item2 mob">
			<nav role="navigation">
				<div id="menuToggle">
					
					<input type="radio" name="toggle"/>
					
					<span><input type="radio" name="toggle"/></span>

					<ul id="menu">
						<div class="roll">

							<div  class="all_tabs">
								<!-- ด้านล่างนี้ให้เปลี่ยนไปใช้ v-for -->
								<div v-for="x in tabs">
									<div class="tab_item" :active="x.id == active_tab" @click="changeTabs(x.id)">
									
									</div>
									
								</div>
							</div>
						</div>
						<img :src="pic" alt="build">
						
					</ul>
				</div>
			</nav>
		</div>
		<div class="item2 desk">
			<div class="roll">

				<div  class="all_tabs">
					<!-- ด้านล่างนี้ให้เปลี่ยนไปใช้ v-for -->
					<div v-for="x in tabs">
						<div class="tab_item" :active="x.id == active_tab" @click="changeTabs(x.id)">
						
						</div>
						
					</div>
				</div>
			</div>
			<img :src="pic" alt="build">
			<div class="la_1">
			</div>
				
		</div>
	</div>
</div>

<div id="cursor"></div>
<script>
	let cursor = document.getElementById("cursor");
	const onMouseMove = (event) => {
	  cursor.style.left = event.pageX + "px";
	  cursor.style.top = event.pageY + "px";

	  if (event.target.hasAttribute("cursor-type")) {
		let cursorSize = event.target.getAttribute("cursor-type");
		cursor.classList.add(cursorSize);
	  } else {
		cursor.classList = "";
	  }
	};

	document.addEventListener("mousemove", onMouseMove);

	var loader = document.getElementById("preloader");
	
	window.addEventListener("load", function(){
		setTimeout(function(){
			loader.classList.add("preloader-hidden")	
		}, 2500)
		
	})
	
    

	let vue = new Vue({
		el:'#app',
		data:{
			active_tab:0,
			pic:`/image/buildtext2/1.png`,
			scale1:"transform:scale3d(0.8,0.8,0.8) translateX(1em)",
            move1:"rotateX(2deg) rotateY(306deg) rotateZ(360deg) translateY(1em) translateX(4.5em) translateZ(-2em)",
			tabs:[
			{
				id:0,
			},
			{
				id:1,
			},
			{
				id:2,
			}
			]
		},
		methods: {
			changeTabs (x) {
				this.active_tab = x;
				if(x == 0){
					this.pic = `/image/buildtext2/1.png`;
					this.scale1 = "transform:scale3d(0.8,0.8,0.8) translateX(1em)"
                    this.move1 ="rotateX(2deg) rotateY(306deg) rotateZ(360deg) translateY(1em) translateX(4.5em) translateZ(-2em)"
				}else if(x == 1){
					this.pic = `/image/buildtext2/2.png`;
					this.scale1 = "transform:scale3d(2,2,2) translateX(1em)"
                    this.move1 ="rotateX(5deg) rotateY(320deg) rotateZ(0deg) translateY(1.5em) translateX(6.8em) translateZ(8em)"
				}else if(x == 2){
					this.pic = `/image/buildtext2/3.png`;
					this.scale1 = "transform:scale3d(2,2,2) translateX(1em)"
                    this.move1 ="rotateX(6deg) rotateY(340deg) rotateZ(0deg) translateY(1.5em) translateX(2.8em) translateZ(2em)"
				}
			}
		}
	})

    const item = document.querySelector(".desk")
    const img1 = document.querySelector(".img1")
	const img2 = document.querySelector(".img2")
	const img3 = document.querySelector(".img3")
	const img4 = document.querySelector(".img4")
    const text1 = document.querySelector(".intext1")
	const text2 = document.querySelector(".intext2")
	const text3 = document.querySelector(".intext3")
	const text4 = document.querySelector(".intext4")
	const text5 = document.querySelector(".intext5")
    const hum = document.querySelector(".human")
	function pic1(a){
		if(a==1){
			text1.classList.remove("preloader-show")
			text2.classList.remove("preloader-show")
			text3.classList.remove("preloader-show")
			text4.classList.remove("preloader-show")
			text5.classList.remove("preloader-show")
			img1.classList.remove("preloader-show")
			img2.classList.remove("preloader-show")
			img3.classList.remove("preloader-show")
			img4.classList.remove("preloader-show")
			item.classList.remove("preloader-show")
			item.classList.add("preloader-hidden")
			img1.classList.add("preloader-show")
		}
		else if(a==2){
			text1.classList.remove("preloader-show")
			text2.classList.remove("preloader-show")
			text3.classList.remove("preloader-show")
			text4.classList.remove("preloader-show")
			text5.classList.remove("preloader-show")
			img1.classList.remove("preloader-show")
			img2.classList.remove("preloader-show")
			img3.classList.remove("preloader-show")
			img4.classList.remove("preloader-show")
			item.classList.remove("preloader-show")
			item.classList.add("preloader-hidden")
			img2.classList.add("preloader-show")
		}
		else if(a==3){
			text1.classList.remove("preloader-show")
			text2.classList.remove("preloader-show")
			text3.classList.remove("preloader-show")
			text4.classList.remove("preloader-show")
			text5.classList.remove("preloader-show")
			img1.classList.remove("preloader-show")
			img2.classList.remove("preloader-show")
			img3.classList.remove("preloader-show")
			img4.classList.remove("preloader-show")
			item.classList.remove("preloader-show")
			item.classList.add("preloader-hidden")
			img3.classList.add("preloader-show")
		}
		else if(a==4){
			text1.classList.remove("preloader-show")
			text2.classList.remove("preloader-show")
			text3.classList.remove("preloader-show")
			text4.classList.remove("preloader-show")
			text5.classList.remove("preloader-show")
			img1.classList.remove("preloader-show")
			img2.classList.remove("preloader-show")
			img3.classList.remove("preloader-show")
			img4.classList.remove("preloader-show")
			item.classList.remove("preloader-show")
			item.classList.add("preloader-hidden")
			img4.classList.add("preloader-show")
		}
	}
    function close_img(s){
		if(s==1){
			item.classList.remove("preloader-hidden")
			img1.classList.remove("preloader-show")
			img1.classList.add("preloader-hidden")
			item.classList.add("preloader-show")
		}
		else if(s==2){
			item.classList.remove("preloader-hidden")
			img2.classList.remove("preloader-show")
			img2.classList.add("preloader-hidden")
			item.classList.add("preloader-show")
		}
		else if(s==3){
			item.classList.remove("preloader-hidden")
			img3.classList.remove("preloader-show")
			img3.classList.add("preloader-hidden")
			item.classList.add("preloader-show")
		}
		else if(s==4){
			item.classList.remove("preloader-hidden")
			img4.classList.remove("preloader-show")
			img4.classList.add("preloader-hidden")
			item.classList.add("preloader-show")
		}
        
	}
    function hum2(){
        item.classList.remove("preloader-hidden")
        img1.classList.remove("preloader-show")
		img2.classList.remove("preloader-show")
		img3.classList.remove("preloader-show")
		img4.classList.remove("preloader-show")
        item.classList.remove("preloader-show")
        text1.classList.remove("preloader-hidden")
		text2.classList.remove("preloader-show")
		text3.classList.remove("preloader-show")
		text4.classList.remove("preloader-show")
		text5.classList.remove("preloader-show")
		item.classList.add("preloader-hidden")
        text1.classList.add("preloader-show")
        img1.classList.add("preloader-hidden")
		img2.classList.add("preloader-hidden")
		img3.classList.add("preloader-hidden")
		img4.classList.add("preloader-hidden")

	}
	function change_text1(){
		text1.classList.remove("preloader-show")
		text1.classList.add("preloader-hidden")
		text2.classList.add("preloader-show")
	}
	function change_text2(){
        text2.classList.remove("preloader-show")
		text2.classList.add("preloader-hidden")
		text3.classList.add("preloader-show")
	}
	function change_text3(){
        text3.classList.remove("preloader-show")
		text3.classList.add("preloader-hidden")
		text4.classList.add("preloader-show")
	}
	function change_text4(){
        text4.classList.remove("preloader-show")
		text4.classList.add("preloader-hidden")
		text5.classList.add("preloader-show")
	}
    function close_text(){
        item.classList.remove("preloader-hidden")
        text5.classList.remove("preloader-show")
		text5.classList.add("preloader-hidden")
        item.classList.add("preloader-show")
        text5.classList.remove("preloader-hidden")
        item.classList.remove("preloader-show")
	}

    const back1 = document.querySelector(".door_in")
	function back(){
		
		window.location.href ="home.html"
	}

	
  </script>
</body>
</html>