.ex1 {
    perspective: 1500px;
    transform:scale3d(1,1,1) translateX(1em) translateY(10em);
  
  }
  
  .cur_pic{
    cursor:url('/image/cursor_look.png'),auto;
  }
  .door_in{
    cursor:url('/image/go.png'),auto;
  }
  .cube {
    font-size: 4em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(311deg)
    translateY(-1em) translateX(2.5em);
    transition: 0.5s  ease;
  
  }
  @keyframes up_down1{
    0%{top: 1%;}
    100%{top: -1%;}
  }
  @keyframes up_down2{
    0%{top: -1%;}
    100%{top: 3%;}
  }
  .side1 {
    position: absolute;
    width: 2.5em;
    height: 1.5em;
    background: rgba(100,100,100,0.5);
    animation: up_down1 1.5s alternate infinite;
    text-align: center;
    line-height: 2em;
  }
  
  .side2 {
    position: absolute;
    width: 1.5em;
    height: 2em;
    background: rgba(100,100,100,0.5);
    animation: up_down2 1.5s alternate infinite;
    text-align: center;
    line-height: 2em;
  }
  .human_side{
    position: absolute;
    width: 0.6em;
    height: 2em;
    text-align: center;
    line-height: 2em;
    cursor: url('/image/talk1.png'),auto;
}
  .side3 {
    position: absolute;
    width: 3em;
    animation: up_down2 1.2s alternate infinite;
    height: 2em;
    background: rgba(100,100,100,0.5);
    
    text-align: center;
    line-height: 2em;
  }
  .side4 {
    position: absolute;
    width: 10em;
    height: 7em;
    background: rgba(100,100,100,0.5);
    text-align: center;
    line-height: 2em;
  }
  .side4_2 {
    position: absolute;
    width: 3em;
    height: 3em;
    background: rgba(100,100,100,0.5);
    
    text-align: center;
    line-height: 2em;
  }
  .side5 {
    position: absolute;
    width: 1.6em;
    height: 2.8em;
    background: rgba(100,100,100,0.5);
    animation: up_down1 1s alternate infinite;
    text-align: center;
    line-height: 2em;
  }
  .side6 {
    position: absolute;
    width: 5em;
    height: 3em;
    background: rgba(100,100,100,0.5);
    animation: up_down2 1s alternate infinite;
    text-align: center;
    line-height: 2em;
  }
  .side7 {
    position: absolute;
    width: 4em;
    height: 2.8em;
    background: rgba(100,100,100,0.5);
    animation: up_down1 1.8s alternate infinite;
    text-align: center;
    line-height: 2em;
  }
  .side8 {
    position: absolute;
    width: 8em;
    height: 5em;
    background: rgba(100,100,100,0.5);
    
    text-align: center;
    line-height: 2em;
  }
  
  .front1 {transform: translateZ(1em);}
  .top1 {transform: rotateX(90deg) translateZ(4.5em) translateY(1em) translateX(2.5em);}
  .right1 {transform: rotateY(90deg) translateZ(5.5em) translateY(1.15em) translateX(-0.5em);}
  .left1 {transform: rotateY(90deg) translateZ(-1em) translateY(1em) translateX(-4.5em);}
  .left2 {transform: rotateY(90deg) translateZ(-1.5em) translateY(3em) translateX(-5em);}
  .left3 {transform: rotateY(90deg) translateZ(-1.5em) translateY(.2em) translateX(-1em);}
  
  .bottom4 {transform: rotateX(90deg) translateZ(-3em) translateY(4em) translateX(1em);}
  .bottom5 {transform: rotateX(90deg) translateZ(-2.99em) translateY(1em) translateX(4.1em);}
  
  .back1 {transform: translateZ(.5em) translateY(4.7em) translateX(8em);}
  .back2 {transform: translateZ(.5em) translateY(4.2em) translateX(1em);}
  .back3 {transform: translateZ(-.7em) translateY(.2em) translateX(8em);}
  .back4 {transform: translateZ(-.7em) translateY(1em) translateX(3.5em);}
  .back5 {transform: translateZ(3.5em) translateY(4.5em) translateX(8em);}
  
  .stair_all{
    transform-style: preserve-3d;
    transform: rotateY(0deg);
  }
  .stair_all1{
    transform-style: preserve-3d;
    transform: rotateY(90deg) translate3d(-5.5em,-2.1em,-1.2em);
  }
  .stair_all2{
    transform-style: preserve-3d;
    transform: rotateY(-90deg) translate3d(-4em,-2.1em,-10.4em);
  }
  .stair1 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-7.5em) translateX(-4em) scale3d(0.3,0.3,0.5);
  }
  .stair2 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-7.2em) translateX(-3.7em) scale3d(0.3,0.3,0.5);
  }
  .stair3 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-6.9em) translateX(-3.4em) scale3d(0.3,0.3,0.5);
  }
  .stair4 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-6.6em) translateX(-3.1em) scale3d(0.3,0.3,0.5);
  }
  .stair5 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-6.3em) translateX(-2.8em) scale3d(0.3,0.3,0.5);
  }
  .stair6 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-6em) translateX(-2.5em) scale3d(0.3,0.3,0.5);
  }
  .stair7 {
    font-size: 1em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(270deg)  rotateZ(180deg) translateZ(-4.6em) translateY(-5.7em) translateX(-2.2em) scale3d(0.3,0.3,0.5);
  }
  
  .sideT_B {
    position: absolute;
    width: 1.5em;
    height: 6em;
    background: url(image/texture.jpg);
    background-position: top;
    
    text-align: center;
    line-height: 2em;
  }
   .sideL_R {
    position: absolute;
    width: 6em;
    height: 1em;
    background: url(image/texture.jpg);
    background-position: bottom left;

    text-align: center;
    line-height: 2em;
  }
   .sideF_B {
    position: absolute;
    width: 1.5em;
    height: 1em;
    background: url(image/texture.jpg);
    background-position: top left;

    text-align: center;
    line-height: 2em;
  }
  
   .front {transform: translateZ(3em) translateY(3em) translateX(0em);}
   .top {transform: rotateX(90deg) translateZ(0em) translateY(0em) translateX(0em);}
   .right {transform: rotateY(90deg) translateZ(-1.5em) translateY(3em) translateX(0em);}
   .left {transform: rotateY(-90deg) translateZ(3em) translateY(3em) translateX(0em);}
   .bottom {transform: rotateX(-90deg) translateZ(1em) translateY(0em) translateX(0em);}
   .back2 {transform: rotateY(-180deg) translateZ(3em) translateY(3em) translateX(0em);}
  /* .door1 {transform: rotateY(-90deg) translateZ(2.5em) translateY(-0.4em) translateX(-0.5em);}
  .door2 {transform: rotateY(-90deg) translateZ(1.5em) translateY(-1.35em) translateX(4.5em);}
  .door3 {transform: rotateY(-180deg) translateZ(0em) translateY(-3.85em) translateX(-1em);}
  .door4 {transform: rotateY(-180deg) translateZ(-2.8em) translateY(-4.4em) translateX(-1em);}
  .door5 {transform: rotateY(-90deg) translateZ(-2.2em) translateY(-6.9em) translateX(6em);} */
  
  
  /*
   .sideT_B {
    position: absolute;
    width: 1.5em;
    height: 6em;
    background: rgba(100,100,100,0.5);
    border: 1px solid red;
    text-align: center;
    line-height: 2em;
  }
   .sideL_R {
    position: absolute;
    width: 6em;
    height: 1em;
    background: rgba(100,100,100,0.5);
    border: 1px solid red;
    text-align: center;
    line-height: 2em;
  }
   .sideF_B {
    position: absolute;
    width: 1.5em;
    height: 1em;
    background: rgba(100,100,100,0.5);
    border: 1px solid red;
    text-align: center;
    line-height: 2em;
  } */
  
   .front {transform: translateZ(3em) translateY(3em) translateX(0em);}
   .top {transform: rotateX(90deg) translateZ(0em) translateY(0em) translateX(0em);}
   .right {transform: rotateY(90deg) translateZ(-1.5em) translateY(3em) translateX(0em);}
   .left {transform: rotateY(-90deg) translateZ(3em) translateY(3em) translateX(0em);}
   .bottom {transform: rotateX(-90deg) translateZ(1em) translateY(0em) translateX(0em);}
   .back {transform: rotateY(-180deg) translateZ(3em) translateY(3em) translateX(0em);}

   .back {transform: rotateY(-180deg) translateZ(1em);}
   .door {transform: translateZ(2em) translateX(1.3000000000000007em) translateY(5.2em) scale3d(2,2.5,2) rotateY(90deg);}
  .door_in:hover{
    transform: rotateY(25deg);
    transform-origin: center left;
    transition: 0.8s;
    fill: white;
  }
  .img1{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 250px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img2{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 420px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img3{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img4{
    position: absolute;
    top: 25%;
    left: 75%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img5{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 300px;
    height: 400px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img6{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 420px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img7{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 420px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .close_but{
    position: absolute;
    top: -11%;
    left: 90%;
   
  }
  .intext1{
    position: relative;
    font-size: 1em;
    left: 55vw;
    top: -480px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext2{
    position: relative;
    font-size: 1em;
    left: 0vw;
    top: -480px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext3{
    position: relative;
    font-size: 1em;
    left: 55vw;
    top: -530px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext4{
    position: relative;
    font-size: 1em;
    left: -1vw;
    top: -530px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext5{
    position: relative;
    font-size: 1em;
    left: 55vw;
    top: -580px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .item2 img{
    margin-top: 5%;
    width: 420px;
    height: 75vh;
    transition: 0.5s  ease;
  }

  @media only screen and (max-width: 1024px){
    .ex1 {
      perspective: 1200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale3d(0.7,0.7,0.7);
      position: absolute;
    
    }
    
    .img1{
      position: absolute;
      width: 600px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img3{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img4{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 600px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img5{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img6{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img7{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 420px;
      height: 300px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .close_but{
      position: absolute;
      top: -11%;
      left: 95%;
     
    }
    .item2 img{
      margin-top: 5%;
      width: 520px;
      height: 85vh;
      transition: 0.5s  ease;
    }
    .intext1{
      position: relative;
      font-size: 1.4em;
      left: 25vw;
      top: 70vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext2{
      position: relative;
      font-size: 1.4em;
      left: -30vw;
      top: 70vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext3{
      position: relative;
      font-size: 1.4em;
      left: 25vw;
      top: 65vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext4{
      position: relative;
      font-size: 1.4em;
      left: -1vw;
      left: -30vw;
      top: 65vh;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext5{
      position: relative;
      font-size: 1.4em;
      left: 25vw;
      top: 55vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 824px){
    .ex1 {
      perspective: 1200px;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) scale3d(0.6,0.6,0.6);
      position: absolute;
    
    }
    
    .img1{
      position: absolute;
      width: 600px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img3{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img4{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 600px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img5{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img6{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .close_but{
      position: absolute;
      top: -11%;
      left: 95%;
     
    }
    .item2 img{
      margin-top: 5%;
      width: 480px;
      height: 85vh;
      transition: 0.5s  ease;
    }
    .intext1{
      position: relative;
      font-size: 1.1em;
      left: 25vw;
      top: 60vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext2{
      position: relative;
      font-size: 1.1em;
      left: -30vw;
      top: 60vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext3{
      position: relative;
      font-size: 1.1em;
      left: 25vw;
      top: 55vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext4{
      position: relative;
      font-size: 1.1em;
      left: -1vw;
      left: -30vw;
      top: 55vh;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext5{
      position: relative;
      font-size: 1.1em;
      left: 25vw;
      top: 45vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
  }


  @media only screen and (max-width: 500px){
    .ex1 {
      perspective: 1200px;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) scale3d(0.3,0.3,0.3);
      position: absolute;
    
    }
    
    .img1{
      position: absolute;
      width: 300px;
      height: 200px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 200px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img3{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 200px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img4{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200px;
      height: 300px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img5{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 200px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img6{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 200px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img7{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 200px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .close_but{
      position: absolute;
      top: -11%;
      left: 95%;
     
    }
    .item2 img{
      margin-top: 5%;
      width: 320px;
      height: 85vh;
      transition: 0.5s  ease;
    }
    .intext1{
      position: relative;
      font-size: 0.7em;
      left: 25vw;
      top: 55vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext2{
      position: relative;
      font-size: 0.7em;
      left: -30vw;
      top: 55vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext3{
      position: relative;
      font-size: 0.7em;
      left: 25vw;
      top: 50vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext4{
      position: relative;
      font-size: 0.7em;
      left: -1vw;
      left: -30vw;
      top: 50vh;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
    .intext5{
      position: relative;
      font-size: 0.7em;
      left: 25vw;
      top: 45vh;
      width: 90%;
      height: 90%;
      z-index: 100;
      cursor: url(/image/talk1.png)32 32,auto;
      opacity: 0;
      visibility: hidden;
    }
  }