
@font-face {
	font-family: 'Sukhumvit';
	src:url(font/SukhumvitSet.ttc);
}
h1, h2, h3, h4, p{
	font-family: 'Sukhumvit', sans-serif;
}
body{
	margin: 0%;
	font-family: 'Sukhumvit', sans-serif;
	transition: all .8s ease;
}

#page_1{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 65%, rgba(255,255,255,1) 100%);
    position: fixed;
	transition: all .8s ease;
	z-index: 5;

}

#page_2{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
	color: #fff;
    position: fixed;
	transition: all .8s ease;
	z-index: 3;
	text-align: center;
}

#page_3{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
	color: #fff;
    position: fixed;
	transition: all .8s ease;
	z-index: 2;
	text-align: center;
}
#page_4{
    background-position: center;
    width: 100vw;
    height: 100vh;
	margin: 0%;
    background: rgb(0,0,0);
	color: #fff;
    position: fixed;
	transition: all .8s ease;
	z-index: 1;
	text-align: center;
}
#skip{
	position: fixed;
	top: 95%;
  	left: 97%;
	z-index: 4;
}
.position_cam{
	text-align: left;
	margin-left: 2%;
	width: 100vw;
	height: 100vh;
	top: 10%;
}
model-viewer {
	top: -15%;
	width: 60vw;
	height: 100vh;
}
#renderCanvas {
	width: 60%;
	height: 80%;
	touch-action: none;
	z-index: 100;
}
#skip img {
	width: 2em;
}
#page_2 .text_1 ,#page_3 .text_1 ,#page_4 .text_1{
	font-size: 1.5em;
	font-weight: normal;
	color: #fff;
	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#preloader{
	
	background: #000;
	width: 100%;
    height: 100vh;
	position: fixed;
	z-index: 100;
	transition:opacity 0.75s, visibility 0.75s;
}
.preloader-hidden{
	animation: loading 1s both;
}
.preloader-show{
	animation: shows 1s both;
}

@keyframes loading{
	100%{
	opacity: 0;
	visibility: hidden;
	}
}
@keyframes shows{
	100%{
	opacity: 1;
	visibility: visible;
}
}
.lds-facebook {
	text-align: center;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
  }
  .lds-facebook div {
	display: inline-block;
	position: absolute;
	left: 8px;
	width: 16px;
	background: #fff;
	animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
	left: 8px;
	animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
	left: 32px;
	animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
	left: 56px;
	animation-delay: 0;
  }
  @keyframes lds-facebook {
	0% {
	  top: 8px;
	  height: 64px;
	}
	50%, 100% {
	  top: 24px;
	  height: 32px;
	}
  }
/*logo*/
.logo_home{
	margin: 0;
	padding: 0;
	font-size: 2em;
	font-weight: normal;
	color: white;
	text-align: center;
  	position: absolute;
  	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.logo_home p {
	line-height: 1;
}
.text_1{
	font-size: 1em;
	font-weight: bold;
	color: black;
	text-align: center;
  	position: absolute;
  	top: 95%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.text_1 img{
	width: 15px;
}

.door_home{
	position: absolute;
  	top: 75%;
  	left: 54%;
  	transform: translate(-50%, -50%);
	width: 15%;
	height: 15%;
	cursor: pointer;
	
}
  .hover-link > span {
	pointer-events: none;
  }
  
  #cursor {
	pointer-events: none;
	width: 2rem;
	height: 2rem;
	border: solid 1px rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	position: fixed;
	top: 0;
	left: 0;
	transition: 0.35s ease width, 0.35s ease height, 0.35s ease border,
	  0.35s ease background;
	transform: translate(-50%, -50%);
	z-index: 101;

  }
  
  #cursor.button {
	width: 3.5rem;
	height: 3.5rem;
	border: solid 1px transparent;
	background: rgba(255, 255, 255, 0.5);
  }
  button{
	background: transparent;
	border: none;
	cursor: pointer;
  }

  .container {
	display: grid;
	grid-template-columns: 60% 50%;
	grid-template-rows: 10% 90%;
	transition: all 0.5s ease;
  }
  .container .item1 {
	grid-column-start: 1;
  	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
  }
  .container .item2 {
	grid-column-start: 2;
  	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
  }
  .container .home{
	text-align: left;
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
}
.container .home img{
	position: absolute;
	margin: 15px;
	width: 40px;
	z-index: 1000;
}
.item1 {
	z-index:99;
	transition: 0.5s  ease;
}
.item2 {
	z-index:100;
	transition: 0.5s  ease;
}


.all_tabs{
	display: flex;
	transform: translateX(58%) ;

}
.tab_item{
	background: rgb(0, 0, 0);
	border: 1px rgb(99, 99, 99) solid;
	padding: .8em;
	margin-right: 1.5em;
	cursor: pointer;
}
.tab_item[active]{
	background: rgb(255, 255, 255);
	border: 1px rgb(255, 255, 255) solid;
}

.content{
	background: orange;
	padding: 2em;
}
.dor:hover{
    transform: rotateY(25deg);
    transform-origin: center left;
    transition: 0.8s;
    fill: white;
  }
  .dor2:hover{
    transform: rotateY(25deg);
    transform-origin: center left;
    transition: 0.8s;

  }
.open{
	fill:rgb(248, 248, 149);
}
.desk{
	visibility: visible;
	opacity: 1;
}
.mob{
	visibility: hidden;
	opacity: 0;
}
#menuToggle
{
  display: block;
  position: absolute;
  top: 40px;
  left: 10px;
  
  z-index: 1000;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 20px;
  left: -10px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 45px;
  height: 45px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: translateX(-650px ) translateY(310px );
  background: url(image/quit.png);
  background-repeat: no-repeat;
  background-position: center;
}




#menu
{
  position: absolute;
  width: 480px;
  margin: -100px 0 0 -50px;
  padding: 0px;
  padding-top: 100px;
  

  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


#menuToggle input:checked ~ ul
{
	transform: translate(-110%, 0);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}


@media only screen and (max-width: 1024px){
	#skip{
		position: fixed;
		top: 95%;
		  left: 94%;
		z-index: 4;
	}
	.text_1{
		font-size: 1.2em;
		font-weight: bold;
		color: black;
		text-align: center;
		  position: absolute;
		  top: 90%;
		  left: 50%;
		  transform: translate(-50%, -50%);
	}
	.door_home{
		position: absolute;
		  top: 80%;
		  left: 52%;
		  transform: translate(-50%, -50%);
		width: 15%;
		height: 15%;
		cursor: pointer;
		
	}
	.roll {
		transform: rotate(90deg) translateY(18em);
		
	}
	.all_tabs{
		display: flex;
		transform: translateX(65%) ;
	}
	.item2 img{
		margin-top: 5%;
		width: 520px;
		height: 80vh;
		transition: 0.5s  ease;
	}
	.item2 {
		z-index:100;
		transform: translateX(70%);
		transition: 0.5s  ease;
	}
	.desk{
		visibility: hidden;
		opacity: 0;
		display: none;
	}
	.mob{
		visibility: visible;
		opacity: 1;
	}
	.tab_item{
		padding: 1em;

	}
	
	
}

@media only screen and (max-width: 824px){
	#skip{
		position: fixed;
		top: 95%;
		  left: 94%;
		z-index: 4;
	}
	.text_1{
		font-size: 1.2em;
		font-weight: bold;
		color: black;
		text-align: center;
		  position: absolute;
		  top: 90%;
		  left: 50%;
		  transform: translate(-50%, -50%);
	}
	.door_home{
		position: absolute;
		  top: 75%;
		  left: 50%;
		  transform: translate(-50%, -50%);
		width: 15%;
		height: 15%;
		cursor: pointer;
		
	}
	.roll {
		transform: rotate(90deg) translateY(18em);
		
	}
	.all_tabs{
		display: flex;
		transform: translateX(58%) ;
	}
	.item2 {
		z-index:100;
		transform: translateX(65%);
		transition: 0.5s  ease;
	}
	#menuToggle input:checked ~ span
	{
	opacity: 1;
	transform: translateX(-505px ) translateY(270px );
	}
	#menuToggle
	{
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	
	z-index: 1000;
	
	-webkit-user-select: none;
	user-select: none;
	}
	#menuToggle input:checked ~ ul
{
	transform: translate(-80%, -5%);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
}

@media only screen and (max-width: 500px){
	#skip{
		position: fixed;
		top: 95%;
		  left: 90%;
		z-index: 4;
	}
	.text_1{
		font-size: 1.2em;
		font-weight: bold;
		color: black;
		text-align: center;
		  position: absolute;
		  top: 95%;
		  left: 50%;
		  transform: translate(-50%, -50%);
	}
	.door_home{
		position: absolute;
		  top: 75%;
		  left: 45%;
		  transform: translate(-50%, -50%);
		width: 15%;
		height: 15%;
		cursor: pointer;
		
	}
	.roll {
		transform: rotate(90deg) translateY(12.5em);
		
	}
	.all_tabs{
		display: flex;
		transform: translateX(58%) ;
	}
	.item2 img{
		margin-top: 5%;
		width: 85vw;
		height: 85vh;
		transition: 0.5s  ease;
	}
	.item2 {
		z-index:100;
		transform: translateX(55%);
		transition: 0.5s  ease;
	}
	#menuToggle input:checked ~ ul
	{
	transform: translate(-72%, -5%);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}
	
	#menuToggle input:checked ~ span
	{
	opacity: 1;
	transform: translateX(-345px ) translateY(230px );

	}
	#menuToggle
	{
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	
	z-index: 1000;
	
	-webkit-user-select: none;
	user-select: none;
	}
	#menuToggle input:checked ~ ul
{
	transform: translate(-65%, -5%);
	transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
}
