.ex1 {
    perspective: 1200px;
    transform:scale3d(1.3,1.3,1.3) translateX(-2em);
  
  }
  
  .cur_pic{
    cursor:url('/image/cursor_look.png'),auto;
  }
  .door_in{
    cursor:url('/image/go.png'),auto;
  }
  .cube {
    font-size: 4em;
    width: 1em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transition: 0.5s  ease;
  }
  .tran{
    transition: 0.5s  ease;
  }
  .side {
    position: absolute;
    width: 2em;
    height: 2em;
    background: gray;
    border: 1px solid white;
    text-align: center;
  }
  .side1 {
    position: absolute;
    width: 3em;
    height: 5em;
    background: gray;
    border: 1px solid white;
    text-align: center;
  }
  .side2 {
    position: absolute;
    width: 6.5em;
    height: 3em;
    background: gray;
    border: 1px solid white;
    text-align: center;
  }
  .floor {
    position: absolute;
    width: 2em;
    height: 20em;
    background: gray;
    border: 1px solid white;
    text-align: center;
  }
  .floor2 {
    position: absolute;
    width: 2em;
    height: 20em;
    background: url(image/sky.jpg);
    background-position: left bottom;
    border: 1px solid white;
    text-align: center;
  }
  .pic {
    position: absolute;
    width: 1.5em;
    height: 1.6em;
    background: gray;
    border: 1px solid white;
    text-align: center;
    line-height: 2em;
    animation: up_down1 1.5s alternate infinite;
  }
  @keyframes up_down1{
    0%{top: 1%;}
    100%{top: -1%;}
  }
  @keyframes up_down2{
    0%{top: -1%;}
    100%{top: 3%;}
  }
  .pic2 {
      position: absolute;
      width: 2em;
      height: 1.4em;
      background: gray;
      border: 1px solid white;
      text-align: center;
      animation: up_down2 1.8s alternate infinite;
  }
  .pic3{
      position: absolute;
      width: 2.5em;
      height: 2.2em;
      background: gray;
      border: 1px solid white;
      text-align: center;
      animation: up_down1 1.7s alternate infinite;
  }
  .pic4{
      position: absolute;
      width: 1em;
      height: 2em;
      background: gray;
      border: 1px solid white;
      text-align: center;
      animation: up_down1 1.2s alternate infinite;
  }
  .pic5 {
      position: absolute;
      width: 3em;
      height: 1.5em;
      background: gray;
      border: 1px solid white;
      text-align: center;
      animation: up_down2 1.2s alternate infinite;
  }
  .pic6{
      position: absolute;
      width: 3em;
      height: 2em;
      background: gray;
      border: 1px solid white;
      text-align: center;
      animation: up_down1 1.1s alternate infinite;
  }
  .human_side{
      position: absolute;
      width: 0.6em;
      height: 2em;

      text-align: center;
      line-height: 2em;
      cursor: url('/image/talk1.png'),auto;
  }
  .front {transform: translateZ(1em);}
  .door {transform: translateZ(-9em) translateX(3.3em) translateY(1.4em) scale3d(2,2,2);}
  .human {transform: translateZ(4.5em) translateX(2.5em) translateY(1em);}
  .top {transform: rotateX(90deg) translateZ(1em);}
  .right {transform: rotateY(90deg) translateZ(1em);}
  .left_pic {transform: rotateY(90deg) translateZ(-0.2em) translateY(1em) translateX(-9em);}
  .left_pic2 {transform: rotateY(90deg) translateZ(-0.4em) translateY(1.1em) translateX(-6.8em);}
  .left_pic3 {transform: rotateY(90deg) translateZ(-0.66em) translateY(0.8em) translateX(-4em);}
  .left_pic4 {transform: rotateY(90deg) translateZ(0.1em) translateY(0.9em) translateX(-1.7em);}
  .left_pic5 {transform: rotateY(90deg) translateZ(-0.9em) translateY(1.1em) translateX(1.2em);}
  .left_pic6 {transform: rotateY(90deg) translateZ(-0.9em) translateY(0.9em) translateX(5em);}
  
  .bottom_floor {transform: rotateX(-90deg) translateZ(-7em) translateY(0em) translateX(1.5em);}
  .ceiling {transform: rotateX(-90deg) translateZ(-7em) translateY(0em) translateX(1.5em) translateZ(-3em);}
  
  .back {transform: rotateY(-180deg) translateZ(1em);}

  .door_in:hover{
    transform: rotateY(25deg);
    transform-origin: center left;
    transition: 0.8s;
    fill: white;
  }
  .img1{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img2{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img3{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img4{
    position: absolute;
    top: 25%;
    left: 75%;
    width: 300px;
    height: 400px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img5{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .img6{
    position: absolute;
    top: 25%;
    left: 70%;
    width: 400px;
    height: 300px;
    z-index: 102;
    opacity: 0;
    visibility: hidden;
  }
  .close_but{
    position: absolute;
    top: -11%;
    left: 90%;
   
  }
  .intext1{
    position: relative;
    font-size: 1em;
    left: 55vw;
    top: -380px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext2{
    position: relative;
    font-size: 1em;
    left: 1vw;
    top: -380px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext3{
    position: relative;
    font-size: 1em;
    left: 55vw;
    top: -430px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext4{
    position: relative;
    font-size: 1em;
    left: -1vw;
    top: -430px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  .intext5{
    position: relative;
    font-size: 1em;
    left: 55vw;
    top: -460px;
    width: 90%;
    height: 90%;
    z-index: 100;
    cursor: url(/image/talk1.png)32 32,auto;
    opacity: 0;
    visibility: hidden;
  }
  @media only screen and (max-width: 1024px){
    .ex1 {
      perspective: 1200px;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%) scale3d(1.2,1.2,1.2);
      position: absolute;
    
    }
    .img1{
      position: absolute;
      width: 600px;
      height: 500px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img2{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img3{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img4{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 600px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img5{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .img6{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 600px;
      height: 500px;
      z-index: 102;
      opacity: 0;
      visibility: hidden;
    }
    .close_but{
      position: absolute;
      top: -11%;
      left: 95%;
     
    }
  }